<p>
  <%= image_tag "#{@actor.id}.jpg", style: 'width:300px' %>
</p>

<h1><%= @actor.name %></h1>

<h3>Appears In</h3>

<ul>
  <% @roles.each do |role| %>
    <li><%= link_to role.movie.name, movie_path(role.movie) %></li>
  <% end %>
</ul>