<div class="row">
  <div class="col-md-12">
    <div id="chart" style="height: 400px;"></div>
  </div>
</div>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(movie.image), movie %>
        <div class="caption">
          <h3><%= link_to movie.name, movie %></h3>
          <p><%= movie.summary %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function () { 
    $('#chart').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Movie Runtime, 2014'
      },
      xAxis: {
        categories: ['Runtime']
      },
      yAxis: {
        title: {
          text: 'Minutes'
        }
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        column: {
          groupPadding: 1.0
        }
      },
      series: [
        {
          name: 'Jane',
          data: [1, 0, 4]
        }, 
        {
          name: 'John',
          data: [5, 7, 3]
        }
      ]
    });
  });
</script>