<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(movie.image), movie %>
        <div class="caption">
          <h3><%= link_to movie.name, movie %></h3>
          <p><%= movie.summary %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>